
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    overflow: auto;
    scroll-behavior: smooth;
    font-size: 2vw;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Header Styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:#253edd;
  }
  
  .nav {
    display: flex;
    gap: 15px;
    display: flex;
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    align-items: center; /* Aligne verticalement */
    padding: 1rem;
  }
  
  .nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
    margin: 0 1rem;
  }
  
  .nav a:hover {
    color: #253edd;
  }
  
  .auth-buttons button {
    background: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .auth-buttons .sign-up {
    background-color: #253edd;
    color: #fff;
  }
  
  .auth-buttons button:hover {
    background-color: #fae3dc;
  }
  
  .auth-buttons .sign-up:hover {
    background-color: #253edd;
  }
  
  /* Hero Section Styles */
  .hero {
    background-image: url('/images/bathroom-remodel-angi-v2(1).jpg');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    height: 100vh; /* Adjust the height of the hero section */
    color: white; /* Makes text visible on top of the image */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fa5035;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #e64528;
    transform: scale(1.05);
  }
  
  /* Section Styles */
  .services, .popular-projects, .additional-services, .maintenance {
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .services h2, .popular-projects h2, .additional-services h2, .maintenance h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    position: relative;
  }
  
  .services h2::after, .popular-projects h2::after, .additional-services h2::after, .maintenance h2::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #fa5035;
    bottom: -10px;
    left: 0;
  }
  
  .service-grid, .project-grid, .home-projects-grid, .maintenance-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .service-card, .project-card {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .service-card:hover, .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .service-card button, .project-card button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fa5035;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .service-card button:hover, .project-card button:hover {
    background-color: #e64528;
  }
  
  /* Footer Styles */
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
  }
  
  .footer a {
    color: #fa5035;
    text-decoration: none;
    transition: color 0.3s;
  }
  button:hover {
    background-color: #0056b3;
  }
  /* Section Styles */
  .services, .popular-projects, .additional-services, .maintenance {
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 1200px; /* Center content on larger screens */
    width: 100%;
  }
  .icon-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  
  .footer a:hover {
    color: #dbc9c9;
  }
  .icon-item img {
    width: 60px; /* Adjust size */
    height: 60px; /* Adjust size */
    object-fit: contain;
    margin-bottom: 10px;
  }
  .icon-item span {
    display: block;
    font-size: 1rem;
    margin-top: 5px;
    color: #333;
  }
  .book-service {
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  
  .book-service h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
  }
  
  .book-service h2::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #fa5035;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  form label {
    font-size: 1rem;
    color: #333;
    font-weight: 600;
  }
  
  form input,
  form textarea,
  form select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
  }
  
  form button {
    background-color: #253edd;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  form button:hover {
    background-color: #1f32cc;
    transform: scale(1.05);
  }
  
  @media (orientation: portrait) {
    .container {
      flex-direction: column;
    }
  }
  
  @media (orientation: landscape) {
    .container {
      flex-direction: row;
    }
    
  }
  
